<%= title((l(:label_contract_index)+'s')) %>
<ul class="rlog-list">
  <% @rlogs.each do |rlog| %>
    <li class="rlog-item">
      <span class="project-name"><%= link_to(rlog.contract.project, rlog_path(rlog.contract)) %></span>
    </li>

  <% end %>
</ul>
