<%= title((l(:label_contract_index)+'s')) %>
<!--<ul class="rlog-list">
  <%# @contracts.each do |contract| %>
    <li class="rlog-item">
      <span class="project-name"><%#= link_to(contract.project, rlog_path(contract)) %></span>
  <%# end %>
</ul>-->
<div id="projects-index">
  <%= render_contract_hierarchy(@contracts) %>
</div>